body {
  background: #fcfcfa;
}


.container {
    max-width:1300px;
    width:100%;
    margin:auto;
}

.main {
    max-width:1000px;
    width:100%;
    display:inline-block;
    float:left;
    margin:auto;
}

.secondary {
    max-width:300px;
    float:right;
    margin:auto;
}
 
.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}
.option {
    display:block;
}

.menu {
    fill:none;
    display:inline-block;
    border-color:black;
    border-radius:10px;
    border:solid;
    margin:30px;
    padding:10px;
}
 
.fill {
  fill: #fff;
}
 
.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}
 
.land {
  fill: #bbb;
}
 
.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}
 
.points circle {
  fill: #fff;
}

.provider {
    stroke:#6b6bff;
    fill:none;
}

.receiver {
    stroke:red;
    fill:none;
}
 
.points text {
  font: 11px sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}
 
.route {
  fill: none;
}
